@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(129, 127, 127);
}
.container-index{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-right: 40px;   
}

/* div.index{
    height: 100vh !important;
} */
@media(max-width:750px) {
    .card {
        width: 330px
    }

    .left-side {
        display: none
    }

    .right_side {
        width: 100% !important
    }
}
.box-form{
    margin-top: 50px;
   
}


.iframe-index{
  border: 1px solid none;
  height: 400px;
  width: 500px;
}
@media only screen and (max-width: 600px){
    .container-index{
        display: flex;
        flex-direction:column;
       margin-right: 2px;
       width:auto;
       
    }
    .About{ 
        margin-top: 20px !important;
          
    }
    .iframe-index {
        width:340px;
    }
}
.About{ 
  margin-top: 50px !important;
    
}

.full-calc{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}